* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Debug */
.debug header {
    height: 100px;
}

.debug .foto, .article {
    height: 430px;
}

.debug footer {
    height: 50px;
}

.debug .title {
    height: 100px;
}

.debug .asx {
    height: 290px;
}

.debug .acx {
    height: 290px;
}

/* /Debug */

.margin {
    width: 70%;
    margin: auto;
}

header {
    width: 100%;
    background-color: #E579E6;
}

header, .foto {
    margin-bottom: 1rem;
}

main {
    margin-bottom: 0.6rem;
}

.foto {
    width: 100%;
    background-color: #e1d67a;
}

.article {
    width: 100%;
    background-color: #0086FF;
}

footer {
    width: 100%;
    background-color: #8801FE;
}

.title {
    width: 100%;
    background-color: #ABCFE7;
    margin-bottom: 1.2rem;
}

.asx, .acx {
    float: left;
}
.asx {
    width: 20%;
    background-color: #ABCFE7;
}

.acx {
    width: 60%;
    background-color: #ABCFE7;
}

